/*! project specific CSS goes here. */

table.tablesorter {
    border-spacing: 1px 1px;
    border-collapse: separate;
}

ul.errorlist {
    margin: 0;
    padding: 0;
}

.errorlist li {
    background-color: red;
    color: white;
    display: block;
    font-size: 14px;
    margin: 0;
    padding: 4px 5px;
}

.two_columns ul {
    width:210px;
}

.two_columns li {
    float:left;
    height:10px;
    margin:0 10px 10px 0;
    width:100px;
}

.two_columns li:nth-child(even) {
   margin-right:0;
}

ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;    
}

.navbar .dropdown-menu {
 margin-top: 0px;
}

a.report-anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

.table-no-border>thead>tr>th, 
.table-no-border>tbody>tr>th, 
.table-no-border>tfoot>tr>th, 
.table-no-border>thead>tr>td, 
.table-no-border>tbody>tr>td, 
.table-no-border>tfoot>tr>td {
  border-top: none; 
}

#transaction-table tbody > tr:nth-child(odd) > td,
#transaction-table tbody > tr:nth-child(odd) > th {
  background-color: #E2E4FF;
}
#transaction-table tbody > tr:hover > td,
#transaction-table tbody > tr:hover > th {
  background-color: #f0f0f0;
}
#transaction-table tr.odd td.sorting_1 {
background-color: #D3D6FF;
}
#transaction-table tr.even td.sorting_1 {
background-color: #EAEBFF;
}

/*
#accounts-table tbody > tr:nth-child(odd) > td,
#accounts-table tbody > tr:nth-child(odd) > th {
  background-color: #E2E4FF;
}
#accounts-table tbody > tr:hover > td,
#accounts-table tbody > tr:hover > th {
  background-color: #f0f0f0;
}
*/
#accounts-table tr.odd td.sorting_1 {
background-color: #e9e9e9;
}
#accounts-table tr.even td.sorting_1 {
background-color: #f3f3f3;
}

