<div id="statementPanel" class="panel panel-default">
    
    <a class="report-anchor" id="statement"></a>

    <div class="panel-heading">
        <a class="panel-title" data-toggle="collapse" href="#statement_panel">
           Statement Report 
        </a>
    </div>

    <div id="statement_panel" class="panel-collapse collapse">
        <div class="panel-body">
            <p>This report generates statements that need to be mailed as of
            of the specified date. </p>
            <small>
                <ul>
                    <li> Enter the date as of when statements should 
                         be generated.
                    <li> Press "Get Report"
                </ul>    
            </small>

            <form name="statement-report-form" id="statement-report-form" 
                    class="form-horizontal" role="form">
                {% csrf_token %} 
                {% if form.errors %}
                <div class="panel panel-default">
                    <div class="panel-body"> {{ form.errors }}
                    </div>
                </div> 
                {% endif %}

                <div class="container">
                    <div class=col-sm-6>
                        <div class="form-group">
                            <label for="statement_date" 
                                   class="col-sm-1 control-label">
                                        Date</label>

                            <div class="col-sm-7">
                                <div class="input-group date" id="dtpicker_statement"
                                      data-date-format="MMMM DD, YYYY">
                                    <input tabindex="7" class="form-control" 
                                        id="statement_date" name="statement_date" 
                                        type="text"
                                        value="{{ form.date.value|date:'F d, Y'}}" />
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <button tabindex="8" type="submit"
                                        class="btn btn-block btn-success" 
                                        title="Get Statement Report"
                                        id="get_s_report">
                                           Get Report 
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="statement-progress" style="display:none">
                {% include "accounting/report_progress_bar.html" %}
            </div>

            {% if reports.statement %}
                {% include "accounting/report_list.html" with report_name="Statement" report_type="statement" %}
            {% endif %}
        </div>
    </div>
</div>
