
    <div id="progress" style="display:none" class="panel panel-warning">
        <div class="panel-heading">
            <p id="status">Generating the report. Please wait ...</p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" 
                     aria-valuemin="0" aria-valuemax="100" 
                     aria-valuenow="100" style="width: 100%">
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="btn" title="Cancel Report" id="cancel_report">Cancel</button>
            </div>
         </div>
    </div>

    <div id="report" style="display:none" class="panel panel-success">
        <div id="report_heading" class="panel-heading">
           {% include "accounting/report_link.html" %}
        </div>
    </div>


